body {
  margin: 0;
  padding: 10;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #444;
}
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/* Стиль для таблицы*/
table.dataframe {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #EEEEEE;
  text-align: center;
  border-collapse: collapse;
}
table.dataframe td, table.dataframe th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.dataframe tbody td {
  font-size: 13px;
}
table.dataframe tr:nth-child(even) {
  background: #D0E4F5;
}
table.dataframe thead {
  background: #0B6FA4;
  border-bottom: 2px solid #FFFFFF;
}
table.dataframe thead th {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.dataframe thead th:first-child {
  border-left: none;
}

table.dataframe tfoot td {
  font-size: 14px;
}



/* BUTTON TWEE from https://cdpn.io/samvdh/fullpage/MmZzyR*/

a{
  text-decoration: none;
  display: block;
  margin: 0 auto 20px;
  position: relative;
  background: #fff;
  border: 1px solid #9e9e9e;
  color: #707070;
  padding: 20px 20px;
  overflow: hidden;
  max-width: 500px;
  transition: all 0.3s ease;
  font-size: 20px;
}

a:hover{
  background:#9e9e9e;
  color: #0000FF;
}

.linear-activity {
    overflow: hidden;
    width: 98%;
    height: 2px;
    background-color: #B3E5FC;
    margin: 20px auto;
}

.determinate {
    position: relative;
    max-width: 100%;
    height: 100%;
    -webkit-transition: width 500ms ease-out 1s;
       -moz-transition: width 500ms ease-out 1s;
         -o-transition: width 500ms ease-out 1s;
            transition: width 500ms ease-out 1s;
    background-color: #03A9F4;
}

.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #03A9F4;
    animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #4FC3F7;
    animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}